{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'home/main.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>SRT-Baja | Team</title>
</head>
<body class="teambody">
    <div class="head">
        <div class="logo">
            <img src="{{items.logo.url}}" class="logopic">
        </div>
        <dvi class="ham" id="ham">
            <div class="ham1" id="ham1"></div>
            <div class="ham2" id="ham2"></div>
            <div class="ham3" id="ham3"></div>
        </dvi>
        <div class="navbar" id="navbar">
            <div class="pages">
                <a href="{%url 'homepage'%}" class="home page">Home</a>
                <a class="cars page" href="{%url 'carspage'%}">Cars</a>
                <a href="{%url 'teampage'%}" class="team page activepage">Team</a>
                <a href="{%url 'homepage'%}#contacts" class="crowdfunding page">Crowdfunding</a>
                <a href="{%url 'homepage'%}#sponsors" class="sponsors page">Sponsors</a>
                <a class="courses page" href="{%url 'forums'%}">Forums</a>
                <a class="contacts page" href="{%url 'homepage'%}#contacts">Contact</a>
                
            </div>
            <div class="logs">
                {%if request.user.is_authenticated%}
                    <a href="{%url 'logout'%}" class="login log">Logout</a>
                    <a href="{%url 'profile'%}"><img class="profilepic" src="{{request.user.profile.image.url}}" alt=""></a>
                {%else%}
                    <a href="{%url 'login'%}" class="login log">Login</a>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="tmpg">
        <div class="tmpto"><img src="{{team.photo.url}}" width="100%" height="auto"></div>
        <div class="team-container" id="tmcnt">
            {%for system in systems%}
                <h1 class="system">{{system.name}}</h1>
                <div class="subteam">
                    {%for member in members%}
                        {%if member.subsystem == system%}
                            <a href="{{member.linked_in}}" style="text-decoration:none;"><div class="member">
                            <i class="fa fa-linkedin-square" style="color:rgb(43, 150, 250);" id="memlink" aria-hidden="true"></i>
                            <img src="{{member.photo.url}}" height="150px" width="150px">
                            <hr>
                            <h3>{{member.name}}</h3>
                            <p>{{member.role}}</p>
                            <p>{{member.subsystem}}</p>
                            </div></a>
                        {%endif%}
                    {%endfor%}
                </div>
            {%endfor%}
        </div>
    </div>
    <div class="foot">
        
        
        <div class="general">
            <pre style="padding: 10px;">{{items.contacts}}</pre>
        </div>
        <div class="socicons">
            <div class="phone">
                <a href="tel:{{contacts.phone_no}}" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-phone" aria-hidden="true"></i></a>
            </div>
            <div class="twitter">
                <a href="{{contacts.twitter}}" target="_blank" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

            </div>
            <div class="fb">
                <a href="{{contacts.facebook}}" target="_blank" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </div>
            <div class="insta">
                <a href="{{contacts.instagram}}" target="_blank" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="mail">
                <a href="mailto:{{contacts.email}}" style="text-decoration: none; color:burlywood;font-size: 40px;"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                <a id="mail" href="mailto:{{contacts.email}}" style="text-decoration: none; color:burlywood;font-size: 20px; padding: 10px;">sastraracingteambaja@gmail.com</a>
            </div> 
        </div>
        
    </div>
    <a href="#" onclick="totop()" id="totop"><div class="baktoc tmtop"><i class="fa fa-angle-up upbutcar" aria-hidden="true"></i>
    </div></a>
    <script>
        function totop(){
            var te = document.getElementById('tmcnt');
            te.scrollTop(10);
        }
        var navbar = document.getElementById("navbar");
        var navpos = navbar.offsetTop;
        window.onscroll = ()=>{
            if(window.pageYOffset > navpos){
                navbar.classList.add("stickynav");
                navbar.classList.remove("navbar");
            }else{
                navbar.classList.remove("stickynav");
                navbar.classList.add("navbar");
            }
        };
        var pages = document.getElementsByClassName("page");
        for(let i=0; i<pages.length; i++){
            pages[i].style.height = navbar.offsetHeight;
        }
    </script>
    <script>
        var ham = document.getElementById("ham");
        var ham1 = document.getElementById("ham1");
        var ham2 = document.getElementById("ham2");
        var ham3 = document.getElementById("ham3");
        var clicked=1;
        ham.addEventListener("click",()=>{
            if(clicked){
                navbar.style.right="0";
                ham1.style.transform="rotate(45deg) translate(7px,7px)";

                ham3.style.transform="rotate(-45deg) translate(7px,-7px)";

                ham2.style.display="none";
                clicked=0;
            }
            else{
                navbar.style.right="-100%";
                ham1.style.transform="rotate(0)";
                ham3.style.transform="rotate(0)";
                ham2.style.display="block";
                clicked=1;
            }
            
        });
    </script>
    <script>
        var totop = document.getElementById("totop");
        window.addEventListener("scroll",()=>{
            if(window.pageYOffset>200){
                totop.style.display = "block";
            }else{
                totop.style.display = "none";
            }
        });
    </script>
</body>
</html>